<div class="shadow ank-p-5rem ank-bg-dankcent ank-mx-3rem ank-my-5rem-2rem ank-link-secbank ank-h-calcSD100vh__MIN__7remED ank-d-grid ank-placeContent-center ank-w-calcSD100per__MIN__6remED ank-boxSizingSELCOMALL-borderMINbox">
  <h1 class="ank-c-revdankcent ank-d-inline">Angora CSS</h1>
  <a href="https://lynxpardelle.com" target="_blank" rel="noopener noreferrer"
    >by Lynx Pardelle</a
  >
  <button class="ank-btnOutline-succank-secbank AbtnVALSVL2pxVL2rem__auto__1rem">Do something</button>
  <button class="ank-btnOutline-indigoBS-friend AbtnVALSVAL3N2remVAL3NVL8px">Do something</button>
  <button class="ank-btn-dankcent AbtnVALSVAL3N1remVAL3NVAL4N1remVAL4N">Do something</button>
  <button class="ank-btnOutline-dankcent-revdankcent AbtnVALSVAL3_4N1remVAL3_4N">Do something</button>
  <button class="ank-btnOutline-primary-success AbtnVALSVAL3_4N1remVAL3_4NVL8pxVL2rem__autoVL3rem">Do something</button>
</div>
