<div class="ank-p-5rem ank-bg-dankcent ank-mx-3rem ank-my-5rem-2rem ank-link-secbank ank-h-calcSD100vh__MIN__7remED ank-d-grid ank-placeContent-center ank-w-calcSD100per__MIN__6remED ank-boxSizingSELCOMALL-borderMINbox">
  <h1 class="ank-c-dankcent2 ank-d-inline">Angora CSS</h1>
  <a href="https://lynxpardelle.com" target="_blank" rel="noopener noreferrer"
    >by Lynx Pardelle</a
  >
  <button class="ank-btnOutline-succank-secbank">Do something</button>
  <button class="ank-btn-dankcent">Do something</button>
  <button class="ank-btnOutline-dankcent-dankcent2">Do something</button>
</div>
